.h2{
	text-align: center;
	color: rgb(200,0,0);
}

.h1{
	color: rgb(200,200,0);
}
.pagination{
	align-items: center;
	background-color: yellow;
}

.jumbotron{
	text-align: center;
	background-image: url("http://wallpaperscraft.com/image/mountains_sky_sunset_peaks_97149_3840x2400.jpg");
	background-repeat: no-repeat;
	background-size: cover;


}

.xyz123{
	text-align: center;
	align-content: center;
	align-items: center;
	background-color: blue;
}


.end-bar{
	text-align: center;
	background-color: red;
}